/* 7 exercício */
/*1. Customize a aparência dos links da seguinte forma: 

- Por padrão, devem ter a cor de destaque e estarem em negrito.

- Se sobrepostos, devem ter sua cor alterada para uma tonalidade mais clara/escura. Os links visitados não devem ficar mais em negrito. */

a{
        font-weight: bold;
        color: brown;
}
a:hover{
        color:rgba(165, 42, 42, 0.456);
}
a:visited{
        font-weight: 200;
}

/* 2. Vamos dar um destaque a primeira letra do primeiro parágrafo da seção principal. Você deverá customizá-lo para que:

- Tenha tamanho de fonte 3 vezes maior que o padrão.

- Seja de uma fonte diferente da escolhida para o  site.

- Fique flutuando a esquerda.

OBS: você precisará aplicar mais de um pseudo seletor para realizar essa estilização. Fique atento! */

.main p:first-of-type::first-letter{
        font-size: 3rem;
        font-family: 'Trebuchet MS';
        float: left;
}

/* 3. Utilize bordas para criar um separador entre os itens presentes no menu de design.
Aplique uma borda superior no topo de todos os itens de menu.
Aplique uma borda inferior apenas no último item da lista*/


.design-selection li{
        border-top:black solid 1px;
        padding-top: 5px;
}
.design-selection li:last-child{
        border-bottom: black solid 1px;
        padding-bottom: 5px;
}


/* 6 exercício */
/*1. Aplique o flexbox no rodapé da seção principal, e posicione os links de forma que fique centralizados e com espaçamento entre eles.

- Defina um mesmo tamanho para os links.

- Não se esqueça de tratar o caso de quebra de linha. */

footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        flex-direction: row;
        flex-grow: 1;
        align-items: center;     
}

footer a, main a{
        align-self: center;
        width: 4rem;
}
/* 2. Configure um layout de flexbox para a seção de benefícios da seguinte forma:

- O texto deve ficar à esquerda, e o título à direita.

- O título deve ficar centralizado verticalmente.

- O texto deve ocupar aproximadamente 70% da largura, e o título 30%.*/

.benefits{
        display: flex;
        flex-direction: row-reverse;

        border-top: black 1px solid;
        border-bottom: black 1px solid;
}
.benefits h3{
        align-self: center;
        text-align: right;
        width: 30%;
}
.benefits p{
        align-self: center;
        text-align: left;
        width: 70%;
}

/* 3. Configure um layout de flexbox para a seção de participação da seguinte forma:

- Cada item deve ocupar 50% do espaço disponível.

- O título deverá ficar centralizado verticalmente.*/

.participation{
        display: flex;
        flex-wrap: wrap;

        border-top: black 1px solid;
}
.participation h3, .participation p{
        flex-basis: 50%;
}
.participation h3{
        align-self: center;
}

/* 4. Inclua uma linha no topo e embaixo das seções de benefícios e participação, utilizando a propriedade border-bottom e border-top respectivamente.

- Remova a ocorrência de borda duplicada entre as duas seções 
*/



/*5 EXERCÍCIO */
/* 1. Defina o elemento .page-wrapper como referência para posicionamento.
*/
.page-wrapper{
        position: relative;
}

/* 2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um espaçamento a direita de 35% utilizando margin .

- Adicione uma borda à direita do painel de 1px, com a cor #1f295c

- Adicione um espaçamento interno de 2% no lado direito do painel.
*/

.explanation{
        width: 60%;
        margin-right: 35%;

        border-right: 1px #1f295c solid;
        padding-right: 2%;
}

/* 3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco deixado pelo elemento .explanation .

- Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo, aplicando top: 560px ).

- Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).

- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.
*/

#design-selection{
        position:absolute;
        top: 500px;
        left: 62%;

        padding-left: 2%;
        padding-right: 2%;
}










/* 4 exercicio */
html {
        width: 80%;
        max-width: 1280px;
        align-content: center;
        margin: auto;
}
#zen-intro{
        height: 550px;
}
#design-archives{
        display: none;
}

header{
        background: darkblue;
        color: antiquewhite;
        display: inline-block;
}

header h1, h2{
        display: inline-block;
        margin: 10px;
}

header h1{
        margin-left: 1em;
        margin right: 1em;
}

aside ul{
        list-style-type: none;
}
.aside ul li {
        margin: 1em;
        align-items: center;
}
/* removed
.main footer{
        margin: 4%;
}
.main footer a{
        background-color: aliceblue;
        color:darkblue;

        padding: 0.5em;
        display: inline-block;
        border: 2px;
        border-style: solid;

} removed */